p:hover, h3:hover, h4:hover, img:hover, h1:hover, h2:hover {
	color: blue;
	background-color:honeydew;
}
nav{
	color: deepskyblue;
	text-align:center;
	font-family: Verdana;
	text-decoration: none;
	font-size: 16 px;
	padding: 10px;
	background-color: azure	 !important;
}
a:active, a:link, a:visited {
	text-decoration:none;
	color : deepskyblue;
}
h1, h2{
	text-align:center;
}
p{
	text-indent: 50px;
	padding-left: 150px;
	padding-right: 150px;
	font-size: 18px;
}
.imgOne{
	float: right;
	padding-right: 150px;
	padding-left: 50px
}
.dude{
	text-align:center;
	padding-left: 0px !important;
}
h3, h4{
	padding-left: 150px;
}
.bob{
	background-color: aliceblue;
	font-family: 'Open Sans', sans-serif;
}
img{
	opacity: 0.5;
}
img:hover {
	opacity: 1.0 !important;
	transform: scale(1.5) !important;
}